@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(37, 150, 190);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://static.wikia.nocookie.net/nickelodeon/images/f/f3/JellyfishFieldsStock.png");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}
 .foreground-image {
  /* 2. Position the foreground image */
  position: absolute; /* CRITICAL: Allows positioning relative to the container */
  top: 50%; /* Position the top edge 50% down from the container's top */
  left: 50%; /* Position the left edge 50% across from the container's left */
  /* Optional: Adjust position to center the image perfectly */
  transform: translate(-50%, -50%);
  /* Optional: Control the size of the foreground image */
  width: 100px;
  height: auto;
}

